# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.opendb
*.suo
*.idb
*.pdb
*.log
*.filters
course3/w3/Huffman/x64/Release/Huffman.ipdb
course3/w3/Huffman/x64/Release/Huffman.iobj
course3/w3/Huffman/x64/Debug/Huffman.ilk
course3/w3/Huffman/Debug/Huffman.ilk
course3/w3/Huffman/.vs/Huffman/v15/ipch/AutoPCH/d53069ea95c6c989/PQ.ipch
course3/w3/Huffman/.vs/Huffman/v15/ipch/AutoPCH/920116f66cec6640/MAIN.ipch
course3/w3/Huffman/.vs/Huffman/v15/ipch/AutoPCH/7fc60231858f4f87/HUFFMAN.ipch
course3/w3/Huffman/.vs/Huffman/v15/ipch/AutoPCH/1fcea5cbc8609520/NODE.ipch
course3/w3/Huffman/.vs/Huffman/v15/Browse.VC.db
course3/w2/Clustering1/x64/Release/Clustering1.ipdb
course3/w2/Clustering1/x64/Release/Clustering1.iobj
course3/w2/Clustering1/x64/Debug/Clustering1.ilk
course3/w2/Clustering1/Clustering1/Clustering1.vcxproj
course3/w2/Clustering1/.vs/Clustering1/v15/ipch/AutoPCH/e0b2880167a0c7c5/UNION_FIND.ipch
course3/w2/Clustering1/.vs/Clustering1/v15/ipch/AutoPCH/af5150e42e8fca4/MAIN.ipch
course3/w2/Clustering1/.vs/Clustering1/v15/Browse.VC.db
course3/w2/BigCluster/x64/Release/BigCluster.ipdb
course3/w2/BigCluster/x64/Release/BigCluster.iobj
course3/w2/BigCluster/x64/Debug/BigCluster.ilk
course3/w2/BigCluster/.vs/BigCluster/v15/ipch/AutoPCH/1bca9f8bd6a89ac1/MAIN.ipch
course3/w2/BigCluster/.vs/BigCluster/v15/Browse.VC.db
course3/w1/PrimAlgorithm/.vs/PrimAlgorithm/v15/ipch/AutoPCH/6e622baa05085aaa/PRIORITY_QUEUE.ipch
course3/w1/PrimAlgorithm/.vs/PrimAlgorithm/v15/ipch/AutoPCH/34a4566e4b889a4a/GRAPH.ipch
course3/w1/PrimAlgorithm/.vs/PrimAlgorithm/v15/Browse.VC.db
course2/w4/TwoSum/x64/Release/TwoSum.ipdb
course2/w4/TwoSum/x64/Release/TwoSum.iobj
course2/w4/TwoSum/x64/Debug/TwoSum.ilk
course2/w4/TwoSum/TwoSum/TwoSum.vcxproj
course2/w4/TwoSum/TwoSum.sln
course2/w4/TwoSum/Debug/TwoSum.ilk
course2/w4/TwoSum/.vs/TwoSum/v15/ipch/AutoPCH/9df22a9480e161b8/MAIN.ipch
course2/w4/TwoSum/.vs/TwoSum/v15/Browse.VC.db
course2/w3/t1.txt
course2/w3/MedianMaintenance/x64/Release/MedianMaintenance.ipdb
course2/w3/MedianMaintenance/x64/Release/MedianMaintenance.iobj
course2/w3/MedianMaintenance/x64/Debug/MedianMaintenance.ilk
course2/w3/MedianMaintenance/MedianMaintenance/MedianMaintenance.vcxproj
course2/w3/MedianMaintenance/MedianMaintenance.sln
course2/w3/MedianMaintenance/.vs/MedianMaintenance/v15/ipch/AutoPCH/d9883f7a768fb67b/MAINCPP.ipch
course2/w3/MedianMaintenance/.vs/MedianMaintenance/v15/ipch/AutoPCH/63083f1cf099814/PRIORITY_QUEUE.ipch
course2/w3/MedianMaintenance/.vs/MedianMaintenance/v15/Browse.VC.db
course2/w3/HexToInt/x64/Release/HexToInt.ipdb
course2/w3/HexToInt/x64/Release/HexToInt.iobj
course2/w3/HexToInt/x64/Debug/HexToInt.ilk
course2/w3/HexToInt/HexToInt/Main.cpp
course2/w3/HexToInt/HexToInt/HexToInt.vcxproj
course2/w3/HexToInt/HexToInt/Grid.h
course2/w3/HexToInt/HexToInt.sln
course2/w3/HexToInt/Debug/HexToInt.ilk
course2/w3/HexToInt/.vs/HexToInt/v15/ipch/AutoPCH/ec8618662c641a32/GRID.ipch
course2/w3/HexToInt/.vs/HexToInt/v15/ipch/AutoPCH/97f78c6c840e544a/MAIN.ipch
course2/w3/HexToInt/.vs/HexToInt/v15/Browse.VC.db
course2/w2/shortest_data.txt
course2/w2/Dijkstra/x64/Debug/Dijkstra.ilk
course2/w2/Dijkstra/Dijkstra/Dijkstra.vcxproj
course2/w2/Dijkstra/Dijkstra/Dijkstra.cpp
course2/w2/Dijkstra/Dijkstra.sln
course2/w2/Dijkstra/Debug/Dijkstra.ilk
course2/w2/Dijkstra/.vs/Dijkstra/v15/ipch/AutoPCH/faa529f0e526fd77/MAIN.ipch
course2/w2/Dijkstra/.vs/Dijkstra/v15/ipch/AutoPCH/2810bf268b3a8a33/GRAPH.ipch
course2/w2/Dijkstra/.vs/Dijkstra/v15/Browse.VC.db
course3/w3/DynamicProgramming/x64/Debug/DynamicProgramming.ilk
course3/w3/DynamicProgramming/Debug/DynamicProgramming.ilk
course3/w3/DynamicProgramming/.vs/DynamicProgramming/v15/ipch/AutoPCH/4e71468054cf5953/MAIN.ipch
course3/w3/DynamicProgramming/.vs/DynamicProgramming/v15/Browse.VC.db
